<!DOCTYPE html>
<html>
<head>

    <!-- Charset, viewport, favicon, global fonts, global stylesheets-->

    <%- include ('partials/head.ejs') %>

    <!-- Custom -->

    <!-- <meta http-equiv="refresh" content="5"> -->

    <title> Fazer uma pergunta | meajuda.ai</title>

    <link
    rel="stylesheet"
    href="/css/ask-a-question.css"
    >

</head>
<body>

    <!-- Header -->
    <%- include ('partials/header.ejs') %>

    <!-- 'Ask a question' Section -->
    <div class="ask-a-question-section">
        <div class="container">
            <div class="ask-a-question-content">

                <div class="section-title">
                    <p>Perguntar</p>
                    <img src="/img/last-questions-dashed-line.svg">
                </div>

                <div class="submit-your-question">
                    <form id="submit-form" action="/perguntar/salvarpergunta" method="POST">
                        <input class="submit-your-question-input-question-title" type="text" name="title" id="questionTitle" placeholder="Título (min. 20 e max. 45 caracteres)" minlength="20" maxlength="45" required>
                        <textarea class="submit-your-question-textarea" name="description" id="questionDescription" placeholder="Descrição" minlength="40" maxlength="480" required ></textarea>
                        <div class="box-description">
                            <p>A sua descrição deve conter no mínimo 40 e no máximo 480 caracteres.</p>
                            <button id="submitBtn" type="submit">Perguntar</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- Footer -->
    <%- include ('partials/footer.ejs') %>
</body>
<script src="reload/reload.js"></script>
<script src="/js/ask-a-question.js"></script>
</html>