<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Página Inicial | meajuda.ai</title>
    
    <!-- Favicon -->
    <link 
    rel="icon" 
    type="image/png" 
    href=""
    >

    <!-- Google Fonts -->

    <link 
    rel="preconnect" 
    href="https://fonts.gstatic.com"
    >

    <link 
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap"
    >

    <!-- Stylesheets -->

    <link
    rel="stylesheet"
    href="/css/main.css"
    >

    <link
    rel="stylesheet"
    href="/css/index.css"
    >

</head>
<body>
    <div class="home-page">
        <div class="content">
            
            <!-- 'Main menu' section -->
            <div class="main-menu">
                <a href="/">
                    <header>

                        <img 
                        src="/img/blue-logo.svg" 
                        alt="logotipo do meajuda.ai"
                        >
    
                        <div class="pg-title">
                            <h1>meajuda.ai</h1>
                            <h2>o seu portal de perguntas e respostas</h2>
                        </div>

                    </header>
                </a>  
                <a class="ask-a-question-btn" href="/perguntar">
                    Fazer uma pergunta
                </a>
            </div>

            <!-- 'Last Questions' section -->
            <div class="last-questions">
                
                <div class="section-title">
                    <p>Últimas perguntas</p>
                    <img src="/img/last-questions-dashed-line.svg">
                </div>

                <% questions.forEach( question => { %>
                    <div class="question">
                        <article>
                            <h1><%= question.title %></h1>
                            <p><%= question.description%></p>
                        </article>
                        <button type="button">
                            <img src="/img/next-arrow.svg" alt="Responder à pergunta">
                        </button>
                    </div>
                <% }) %>

                <div class="section-footer">
                    <img src="/img/last-questions-dashed-line.svg">
                    
                    <a href="">
                        <p>Ver todas</p>
                    </a>

                </div>

            </div>
        </div>
    </div>

    <footer>
        
        <div class="description-section">
            <div class="content">
                <a href="/">
                    <img 
                    src="/img/white-logo.svg" 
                    alt="logotipo do meajuda.ai"
                    >

                    <div class="footer-pg-title">
                        <h1>meajuda.ai</h1>
                        <h2>o seu portal de perguntas e respostas</h2>
                    </div>
                </a>  
            </div>
        </div>

        <div class="copyright-section">
            <div class="content">
                <div class="footer-text">
                    <p>Copyright 2020 &copy; meajuda.ai</p>
                    <p>developed with 
                        <img 
                        src="/img/heart-emoji.png" 
                        alt="emoji de coração"
                        > love by
                        <a 
                        href="https://github.com/eliasbiondo"
                        target="_blank">
                        @eliasbiondo
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>