<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Página Inicial | meajuda.ai</title>
    
    <!-- Favicon -->
    <link 
    rel="icon" 
    type="image/png" 
    href=""
    >

    <!-- Google Fonts -->

    <link 
    rel="preconnect" 
    href="https://fonts.gstatic.com"
    >

    <link 
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap"
    >

    <!-- Stylesheets -->

    <link
    rel="stylesheet"
    href="../public/css/main.css"
    >

    <link
    rel="stylesheet"
    href="../public/css/index.css"
    >

</head>
<body>
    
</body>
</html>