<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Página Inicial | meajuda.ai</title>
    
    <!-- Favicon -->
    <link 
    rel="icon" 
    type="image/png" 
    href=""
    >

    <!-- Google Fonts -->

    <link 
    rel="preconnect" 
    href="https://fonts.gstatic.com"
    >

    <link 
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap"
    >

    <!-- Stylesheets -->

    <link
    rel="stylesheet"
    href="../public/css/main.css"
    >

    <link
    rel="stylesheet"
    href="../public/css/index.css"
    >

</head>
<body>
    <div class="home-page">
        <div class="content">
            <!-- 'Main menu' section -->
            <div class="main-menu">
                <a href="/">
                    <header>

                        <img 
                        src="../public/img/blue-logo.svg" 
                        alt="logotipo do meajuda.ai"
                        >
    
                        <div class="pg-title">
                            <h1>meajuda.ai</h1>
                            <h2>o seu portal de perguntas e respostas</h2>
                        </div>

                    </header>
                </a>  
                <a class="ask-a-question-btn" href="/perguntar">
                    Fazer uma pergunta
                </a>
            </div>

            <!-- 'Last Questions' section -->
            <div class="last-questions">
                
                <div class="section-title">
                    <p>Últimas perguntas</p>
                    <img src="../public/img/last-questions-dashed-line.svg">
                </div>

                <div class="question">
                    <article>
                        <h1>Como utilizar o SQL com o Sequelize?</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a cursus est. Cras venenatis pellentesque dolor, a semper odio fermentum sed. Mauris hendrerit sapien.</p>
                    </article>
                    <button type="button">
                        <img src="../public/img/next-arrow.svg" alt="Responder à pergunta">
                    </button>
                </div>

                <div class="question">
                    <article>
                        <h1>Como utilizar o SQL com o Sequelize?</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a cursus est. Cras venenatis pellentesque dolor, a semper odio fermentum sed. Mauris hendrerit sapien.</p>
                    </article>
                    <button type="button">
                        <img src="../public/img/next-arrow.svg" alt="Responder à pergunta">
                    </button>
                </div>

                <div class="question">
                    <article>
                        <h1>Como utilizar o SQL com o Sequelize?</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a cursus est. Cras venenatis pellentesque dolor, a semper odio fermentum sed. Mauris hendrerit sapien.</p>
                    </article>
                    <button type="button">
                        <img src="../public/img/next-arrow.svg" alt="Responder à pergunta">
                    </button>
                </div>

                <div class="question">
                    <article>
                        <h1>Como utilizar o SQL com o Sequelize?</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a cursus est. Cras venenatis pellentesque dolor, a semper odio fermentum sed. Mauris hendrerit sapien.</p>
                    </article>
                    <button type="button">
                        <img src="../public/img/next-arrow.svg" alt="Responder à pergunta">
                    </button>
                </div>

                <div class="section-footer">
                    <img src="../public/img/last-questions-dashed-line.svg">
                    
                    <a href="">
                        <p>Ver todas</p>
                    </a>

                </div>

            </div>
        </div>
    </div>

</body>
</html>