/* Default Reset*/
:root {
    font-size: 62.5%;
    --primary: #267DFF;
    --secondary: #F0F4FA;
    --hovered: #2269d4;
    --linear: linear-gradient(180deg, #267DFF 0%, #2763FF 100%);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    color: black;
    text-decoration: none;
    list-style-type: none;
    border: none;
    word-break: break-word;
}

body {
    width: 100%;
    min-height: 100vh;
}

.container {
    width: clamp(3rem, 80vw, 120rem);
}

/* Header */
header {
    width: 100%;
    padding: 4rem 0rem;
    display: flex;
    justify-content: center;
}

        .header-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            .website-logo {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

                .website-logo img {
                    width: clamp(4.5rem, 8vw, 9rem);
                }

                .website-logo-texts {
                    margin: 0rem 1rem;
                    display: flex;
                    flex-direction: column;
                }

                    .website-logo-texts h1 {
                        font-size: clamp(3.2rem, 5vw, 6.4rem);
                        font-weight: 700;
                        line-height: clamp(3.2rem, 6vw, 6.4rem);
                    }

                    .website-logo-texts h2 {
                        font-size: clamp(1.6rem, 2vw, 3.2rem);
                        font-weight: 200;
                        line-height: clamp(1.6rem, 3vw, 3.2rem);
                    }

            .ask-a-question-btn {
                width: clamp(20rem, 20vw, 40rem);
                height: clamp(2.5rem, 8vw, 5rem);
                padding: 0rem 1rem;
                background-color: var(--primary);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: clamp(1.75rem, 4vw, 3.5rem);
                font-size: clamp(1.6rem, 1vw, 3.2rem);
                font-weight: 400;
                line-height: clamp(1.6rem, 3vw, 3.2rem);
                color: white;
                text-align: center;
            }

            .ask-a-question-btn:hover {
                background-color: var(--hovered);
            }

/* Footer */
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .footer-top-section {
        width: 100%;
        height: 22rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8rem 8rem 0rem 0rem;
        background-color: var(--primary);
    }

        .footer-top-section-content {
            display: flex;
            align-items: center;
        }

            .footer-website-logo {
                display: flex;
                align-items: center;
            }

                .footer-website-logo img {
                    width: clamp(4.5rem, 8vw, 9rem);
                }

                .footer-website-logo-texts {
                    margin: 0rem 1rem;
                    display: flex;
                    flex-direction: column;
                }

                    .footer-website-logo-texts h1 {
                        font-size: clamp(3.2rem, 5vw, 6.4rem);
                        font-weight: 700;
                        line-height: clamp(3.2rem, 6vw, 6.4rem);
                        color: white;
                    }

                    .footer-website-logo-texts h2 {
                        font-size: clamp(1.6rem, 2vw, 3.2rem);
                        font-weight: 200;
                        line-height: clamp(1.6rem, 3vw, 3.2rem);
                        color: white;
                    }

    .footer-bottom-section {
        width: 100%;
        height: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
    }

        .footer-bottom-section-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            .footer-bottom-section-content p {
                font-size: clamp(1.2rem, 2vw, 2.4rem);
                font-weight: 200;
                line-height: clamp(1.2rem, 2vw, 2.4rem);
                color: white;
            }

                .footer-bottom-section-content img {
                    width: clamp(1.2rem, 2vw, 2.4rem);
                }
                .footer-bottom-section-content  p a {
                    color: white;
                    font-weight: 700;
                }

/* Components */

.section-title {
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
}

    .section-title p {
        flex: 1;
        margin-right: 1rem;
        background-color: white;
        font-size: clamp(2.4rem, 2vw, 4.8rem);
        font-weight: 200;
        line-height: clamp(2.4rem, 2vw, 4.8rem);
    }

    .section-title img {
        width: 70%;
        flex: 8;
    }

.question {
    width: 100%;
    height: 16rem;
    padding: 3rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary);
    border-radius: 3.5rem;
}

.question + .question {
    margin-top: 3rem;
}

.question:last-of-type {
    margin-bottom: 4rem;
}

    .question-text-area {
        flex: 8;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

        .question-text-area h1 {
            font-size: clamp(1.6rem, 2vw, 3.2rem);
            font-weight: 300;
            line-height: clamp(1.6rem, 2vw, 3.2rem);
        }

        .question-text-area p {
            margin-top: .5rem;
            font-size: clamp(1.2rem, 1.5vw, 2.4rem);
            font-weight: 200;
            line-height: clamp(1.2rem, 1.5vw, 2.4rem);
        }

        .question-btn-area {
            margin-left: 0 !important;
        }

/* Mobile Version */
@media screen and (max-width: 430px) {
    
    .header-content {
        flex-direction: column;
    }

        .website-logo {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 2rem;
        }

            .website-logo-texts {
                flex-direction: column;
                align-items: center;
                margin-top: 1rem;
            }

                .website-logo-texts h2 {
                    text-align: center;
                }
    
    .section-title {
        flex-direction: column;
        align-items: center;
    }

        .section-title p {
            text-align: center;
        }

        .section-title img {
            width: 100%;
            height: 1rem;
            margin-top: 1rem;
            flex: none;
        }

    .question {
        height: auto;
        flex-direction: column;
    }

        .question-text-area {
            flex: none;
            text-align: center;
            align-items: center;
            margin-bottom: 2rem;
        }

    .section-footer {
        flex-direction: column;
    }

        .section-footer img {
            display: none;
        }

        .section-footer a {
            width: 100% !important;
        }

    .footer-top-section-content {
        justify-content: center;
    }

        .footer-website-logo {
            width: 22rem;
        }
    
    .footer-bottom-section-content {
        flex-direction: column;
        justify-content: center;
    }

        .footer-bottom-section-content p {
            text-align: center;
        }
}