body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 6rem;
}

.content {
    width: 120rem;
    background-image: url(../img/thinking_man.svg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: clamp(20rem, 30vw, 28rem) 65rem;

}

.main-section {
    display: flex;
    flex-direction: column;
}

.page-title h1 {
    font-size: clamp(3.6rem, 4vw,6.4rem);
    font-weight: 400;
    line-height: clamp(4rem, 4vw,9.6rem);
}

.page-title h2 {
    font-size: clamp(2rem, 2vw,3.2rem);
    font-weight: 200;
    line-height: clamp(3rem, 4vw,6rem);
}

form {
    width: clamp(30rem, 45vw, 81rem);
    margin-top: 5rem;
}

.input {
    position: relative;
    margin-bottom: 3rem;
}

.input input {
    width: 100%;
    height: clamp(4rem, 5vw, 6rem);
    border: 1px solid black;
    border-radius: 3rem;
    padding: 0rem 5rem;
    outline: none;
    font-size: clamp(2rem, 2vw,2.4rem);
}

.input input, .input label {
    position: absolute;
    background-color: white;

}

.input + .input {
    margin-top: clamp(8rem, 8vw, 10rem);
}

.input label {
    top: -0.5rem;
    left: 4rem;
    padding: 0 clamp(0.2rem, 1vw, 1rem);
    font-size: clamp(1.6rem, 2vw, 2.4rem);
    font-weight: 200;
    line-height: 1rem;
    background-color: white;
}

.input textarea {
    width: 100%;
    height: clamp(20rem, 10vw, 30rem);
    border: 1px solid black;
    border-radius: 3rem;
    font-size: clamp(2rem, 2vw,2.4rem);
    padding: 2rem 5rem;
    outline: none;
    resize: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button[type="button"] {
    width: clamp(6rem, 5vw, 7rem);
    height: clamp(6rem, 5vw, 7rem);
    background: none;
    outline: none;
    border: none;
    border-radius: clamp(3rem, 2.5vw, 3.5rem);
    background-color: var(--primary);
    background-image: url("../img/back-arrow.svg");
    background-repeat: no-repeat;
    background-position: 45% center;
    cursor: pointer;
}

button[type="submit"] {
    width: clamp(18rem, 35vw, 64rem);
    height: clamp(6rem, 5vw, 7rem);
    font-size: clamp(1.6rem, 2.5vw, 3.2rem);
    background: var(--primary);
    color: white;
    outline: none;
    border: none;
    border-radius: 3.5rem;
    cursor: pointer;
}

button:hover {
    background-color: var(--hovered);
}